#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.site-container{
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1280px;
  min-height: 100vh;
}

main{
  flex: 1;
}