:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

.site-container{
  min-height: 100vh;
}

main{
  flex: 1;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-primary{
  background-color: #f0c040;
  color: #000000;
}

a {
  text-decoration: none;
}

.rating span{
  color: #ffc000;
}

.product{
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img{
  width: 100%;
  max-width: 400px;
}

.product-info{
  text-decoration: none;
  padding: 1rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}